extends layouts/base.pug

block body
  .row
    .col-sm-8.offset-sm-2.col-md-6.offset-md-3
      h1 bas
      p.lead сокр. от basic api service
      p.
        Что за? Спросите вы, если случайно (а может и нет) окажитесь здесь. И
        будете огорчены (а может и нет) ответом &laquo;ничего&raquo; 🤦‍♂️
      p Ну ладно.
      p.
        Это приложение на <a href="//nodejs.org" target="_blank">Ноде.джс</a>
        + <a href="//www.mongodb.com/" target="_blank">Монго ДиБи</a> +
        вспомогательные модули/библиотеки (как вашей душе угодно). Оно на
        столько простое, что на это описание я потратил больше времени, чем на
        написание кода приложения 😁
      .text-center
        figure.figure
          img.figure-img.img-fluid.rounded(src="/flow.png")
          figcaption.figure-caption.text-left Рис. 1 &mdash;  от исходного кода до продакшина
      p.
        Таким образом это проект в стиле &laquo;туду&raquo;, главная задача
        которого дать понимание (в первую очередь автору), как организовать
        работу &laquo;баса&raquo; (базовый апи сервис).