extends ../layouts/base.pug

block body
  form(action="/projects/store" method="post")
    .form-group
      label(for="project-name") Name
      input#project-name.form-control(type="text", aria-describedby="emailHelp", placeholder="Enter name", name="name")
    .form-group
      label(for="project-character") Character
      input#project-character.form-control(type="text", placeholder="Enter character", name="character")
    button.btn.btn-primary(type="submit") Create
